*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-blend-mode: screen;

}

body {
  font-family: "Arial", sans-serif;
  background-color: #f7f1e3;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #384c55;
  color: #f7f1e3;
}

header h1 {
  font-size: 24px;
  color: #f7f1e3;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.social-icons a {
  color: #f7f1e3;
  margin-left: 15px;
  font-size: 1.2em;
}

.profile-icon img {
  width: 80px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 14px;
  color: #000;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: #457489;
  color: #f7f1e3;
  text-align: center;
}

input::placeholder {
  color: #524f4f;
  text-align: center;
}
.content {
  display: flex;
  justify-content: space-between;
  width: 96%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

aside {
  flex: 1;
  max-width: 300px;
  padding-right: 20px;
}

.back-button {
  font-size: 24px;
  color: #f7f1e3;
  text-decoration: none;
}

.profile-pic img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #f7f1e3;
}

.user-info p {
  margin: 10px 0;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #384c55;
  color: #fff;
  bottom: 0;
  left: 0;
  position: relative;
}
main {
  background-color: #f7f1e3;
  position: relative;
  padding-bottom: 13px;
  margin-bottom: 40px;
}

main h2 {
  margin-top: 0;
}

.appointment {
  display: flex;
  align-items: center;
  background-color: #457489;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 21px;
  border-radius: 10px;
  height: 130px;
  width: 517px;
  text-align: start;
}

.appointment img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.appointment-info {
  flex-grow: 1;
  padding: 15px;
}

.appointment-info p {

  padding: 2px;

}

.delete-button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #f7f1e3;
  cursor: pointer;
}
input{
  border: none;
  background-color: #f7f1e3;
}

/* Replicando um estilo só à todos os botões */
.botaoVoltar {
  display: block;
  margin: 10px;
  justify-content: flex-start;
  background-color: #895A45;
  color: #f7f1e3;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  box-shadow: 10px 8px 10px 0px rgba(0, 0, 0, 0.2);
  
}

a{
  text-decoration: none;
}

.botoesCad:hover{
  background-color: #d5a875;
  color: #240f03;
  transform: scale(1.08);
  transition: transform 0.3s ease;
}

/* Replicando estilização da nav ao perfil.html */
nav ul {
  list-style: none;
  background-color: #384c55;
  text-align: end;
  padding: 10px;
}

nav ul li{
  display: inline;
  margin: 0 10px;
}

nav ul li a{
  color: #fff5e1;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover{
  color: #384c55;
  text-shadow: 0 0 5px #f7f1e3;
  background-color: #f7f1e3;
  border-radius: 5px;
  padding: 5px;
}
