* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-blend-mode: screen;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f7f1e3;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #384c55;
  color: #f7f1e3;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px; /* Espaço entre o ícone e o texto */
  /* font-size: 1.5em;
  font-weight: bold;
  color: #f7f1e3; */
}

.logo i{
  color: #f7f1e3;
}

.social-icons a {
  color: #f7f1e3;
  margin-left: 15px;
  font-size: 1.2em;
}

.hero {
  position: relative;
  max-width: 100%;
  height: 300px;
  background-color: #f7f1e3
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 30%,
    #f7f1e3
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  color: #f7f1e3;
}

.text {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #384c55;
  font-weight: bold;
}


.phone {
  font-size: 1.2em;
  color: #384c55;
  font-weight: bold;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 30px 10%;
}

.booking button {
  background-color: #895A45;
  color: #f7f1e3;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  box-shadow: 10px 8px 10px 0px rgba(0, 0, 0, 0.2);
}

.booking button:hover {
  background-color: #895A45;
  color: #f7f1e3;
}

.gallery {
  display: flex;
  gap: 20px;
}

.gallery img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
}

.gallery img:hover{
  transform: scale(1.08);
  transition: transform 0.3s ease;
}

footer {
  text-align: center;
  background-color: #384c55;
  padding: 15px;
  padding-bottom: 60px;
  color: #f7f1e3;
  width: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
  height: 60px;
  line-height: 60px;
}
main{
  background-color: #f7f1e3;
  position: relative;
  padding-bottom: 13px;
  margin-bottom: 40px;

}

/* Replicando um estilo só à todos os botões */
.botoesCad {
  display: block;
  margin-left: 150px;
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: #895A45;
  color: #f7f1e3;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  box-shadow: 10px 8px 10px 0px rgba(0, 0, 0, 0.2);
  
}

.container_cadastro{
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

.container_cadastro button{
  margin-left: 0;
}

a{
  text-decoration: none;
}

.botoesCad:hover{
  background-color: #d5a875;
  color: #240f03;
  transform: scale(1.08);
  transition: transform 0.3s ease;
}

h2.titulo_cadastro{
  margin: 20px;
  margin-bottom: 20px;
}
/* Alterando o espaçamento do titulo e botões de cadastro */
.cadastrar, .listaDe{
  display: flex;
  flex-direction: column; /* Organiza título e botões verticalmente */
  width: 200px; /* Ajuste conforme necessário */
  align-items: flex-start; /* Alinha ao topo */
  padding: 10px;
}
.cadastrar button{

margin-top: -10px;

}
.listaDe button{

  margin-top: -10px;

}

.alinharLabel {
  display: inline-block;
  width: 250px; /* Largura fixa para alinhar as labels */
  text-align: left; /* Alinha o texto à direita para aproximar do select */
  margin-right: 5px; /* Espaçamento entre label e select */
  font-size: 20px;
}

select{
  width: 200px; /* Ajuste o tamanho conforme necessário */
  padding: 5px;
  margin-bottom: 10px; /* Espaçamento entre cada linha */
  background-color: #f7f1e3;
}

select:focus{
  outline: none;
}


label{
  margin-left: 30px;
  font-size: 25px;
}
textarea{
  margin-left: 30px;
  background-color: #f7f1e3;
  border-color: #00000080;
  border-style: groove;
  margin-top: 10px;
  padding: 5px;
  font-size: 15px;
}

h2.dataEscolha {
  margin: 30px;
}

.geral{
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /*Ajusta a verticalização*/
  padding: 50px;
}
.card_select_right{
  display: flex;
  flex-direction: column; /* Coloca os elementos em coluna */
  align-items: flex-start; /* Alinha à esquerda */
  margin-left: 20px;
  flex-grow: 1;
  align-items: end;
  padding-right: 100px;
}

#img-mapa{
  width: 100%;
  height: auto;
  display: block;
}

#img-mapa-container{
  position: relative;
  display: block;
  width: 100%;
  max-width: 500px;
  padding-top: 20px;
}

.gradient-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%; /* Define a altura do gradiente */
  background: linear-gradient(to bottom, #ffffff00 0%, #f7f1e3 100%);
  pointer-events: none; /* Faz com que o gradiente não bloqueie interações */
}

p.endereco {
  margin-top: 15px;
  font-size: 18px;
  color: #f7f1e3;
}

nav ul {
  list-style: none;
  background-color: #384c55;
  text-align: end;
  padding: 10px;
}

nav ul li{
  display: inline;
  margin: 0 10px;
}

nav ul li a{
  color: #f7f1e3;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover{
  color: #384c55;
  text-shadow: 0 0 5px #f7f1e3;
  background-color: #f7f1e3;
  border-radius: 5px;
  padding: 5px;
}

/* Estilizando formulário */

.formularioCad {
  display: flex;
  flex-direction: column;
  gap: 5px; /* Espaçamento entre as linhas */
}

.campo-par {
  display: flex;
}

.campo-par label,
.campo-par input {
  flex: 1;
  margin-top: 0;
}


.empty-label {
  visibility: hidden; /* Esconde a label vazia sem afetar o layout */
  margin-right: 210px;
}

input, textarea {
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.3 ease;
  background-color: #fff;
}

input:focus, textarea:focus{
  border-color: #FFD700;
}

button.evento-mouse {
  padding: 15px 30px;
  background-color: #240f03;
  color: #f7f1e3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.evento-mouse:hover{
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}
.forms{
  padding: 30px;
  background-color: #457489;
  margin: 20px auto;
  max-width: 900px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.forms:hover{
  transform: scale(1.03);
  transition: transform 0.2s ease-out;
}

/* Estilizando login (Erik) */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


h1 {
  font-size: 36px;
  font-weight: bold;
}

.login-box {
  background-color: #457489;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 600px;
  max-width: 90%;
  transition: transform 0.3s ease;
}
.login-box:hover{
  transform: scale(1.08);
}

h2 {
  font-size: 35px;
  margin-bottom: 20px;
  color: #240f03;
  text-align: center;
}

.frmLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.labelLogin{
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
  padding-right: 20px;
}

.botao-login{
  display: block;
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: #240f03;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  box-shadow: 10px 8px 10px 0px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.botao-login:hover{
  transform: scale(1.08);
}

.inpLogin {
  padding: 10px;
  width: 200px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
}


button:hover {
  background-color: #555;
}

.create-account {
  display: block;
  margin-top: 15px;
  color: #fff;
  text-decoration: none;
}

.create-account:hover {
  text-decoration: underline;
}

/* Estilizando o formulário de cadastro de usuário */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.box-cad {
  display: flex;
  justify-content: space-around;
  background-color: #457489;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  flex-wrap: wrap;
  width: 600px;
  max-width: 90%;
  transition: transform 0.3s ease;
}
.box-cad:hover{
  transform: scale(1.08);
  transition: transform 0.2s ease-out;
}

.box-cad h2 {
  font-size: 25px;
  margin-bottom: 20px;
  color: #240f03;
  text-align: center;
}

.frmCadUser {
  display: flex;
  flex-direction: column;
}

.labelCadUsuario{
 margin-left: 20px;
 font-size: 21px;
}

.botaoCadUser{
  display: block;
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: #240f03;
  color: #f7f1e3;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  box-shadow: 10px 8px 10px 0px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.botaoCadUser:hover{
  transform: scale(1.08);
}

.inpCadUser {
  padding: 10px;
  width: 400px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
}


button:hover {
  background-color: #555;
}

.create-account {
  display: block;
  margin-top: 15px;
  color: #fff;
  text-decoration: none;
}

.create-account:hover {
  text-decoration: underline;
}
#Cargos{
    
   padding: 10px;
    margin: 10px 0;
    border: 2px solid #ddd;
    border-radius: 6px;
    font-size: 1rem;
    transition: border-color 0.3 ease;
    background-color: #fff;
    
}
p{
  text-align: center;
}

/* Estilização ao botão voltar */

.botaoVoltar {
  display: block;
  margin: 10px;
  justify-content: flex-start;
  background-color: #895A45;
  color: #f7f1e3;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  box-shadow: 10px 8px 10px 0px rgba(0, 0, 0, 0.2);
}

/* Estilos do modal */
        .modal {
            display: none; /* Oculta o modal por padrão */
            position: fixed;
            z-index: 1000; /* Aumente o z-index se necessário */
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro semitransparente */
            justify-content: center;
            align-items: center;
        }
        .modal-content {
            background-color: #384c55; /* Cor de fundo do modal */
            color: #f7f1e3; /* Cor do texto */
            padding: 20px;
            border-radius: 8px;
            width: 80%;
            max-width: 400px;
            text-align: center;
        }
        .close-btn {
            color: #f7f1e3;
            float: right;
            font-size: 24px;
            cursor: pointer;
        }
        .close-btn:hover {
            color: #ddd;
        }
        .inpEscData {
          background-color: #f7f1e3;
        }
        .botaoEscData {
          margin: 0px 750px;
          background-color: #240f03;
          color: #fff;
          padding: 15px 30px;
          border: none;
          border-radius: 5px;
          font-size: 1.2em;
          cursor: pointer;
          box-shadow: 10px 8px 10px 0px rgba(0, 0, 0, 0.2);
          transition: transform 0.3s ease;
        }
        .escDATA {
          height: 20vh;
          padding: 30px;
          background-color: #384c55;
          margin: 20px auto;
          max-width: 900px;
          border-radius: 10px;
          margin-left: 30px;
        }
        .container-esc {
          display: flex;
          justify-content: center;
          height: 50vh;
          padding: 30px;
          background-color: #457489;
          margin: 20px auto;
          max-width: 900px;
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          border-radius: 10px;
          transition: transform 0.3s ease;
        }

        .card-grid {
          display: grid;
          grid-template-columns: repeat(3, 1fr); /* 3 colunas */
          gap: 350px;
          padding: 200px;
        }
        
        .card-container {
          perspective: 1000px;
          margin: 10px;
        }
        
        .card {
          width: 100%; /* Adapta-se ao grid */
          max-width: 250px; /* Tamanho máximo */
          height: auto;
          position: relative;
          transform-style: preserve-3d;
          transition: transform 0.6s;
          cursor: pointer;
          margin: auto;
        }
        
        .card:hover {
          transform: rotateX(150deg);
        }
        
        .card-front,
        .card-back {
          width: 100%;
          height: 100%;
          position: absolute;
          backface-visibility: hidden;
        }
        
        .card-front {
          background-color: #f7f1e3;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        
        .card-back {
          background-color: #f7f1e3;
          color: rgb(0, 0, 0);
          display: flex;
          justify-content: center;
          align-items: center;
          transform: rotateX(180deg);
          border-radius: 10px;
        }
        
        .card-front img {
          width: 100%; /* Imagem ocupa todo o espaço do card */
          height: auto; /* Mantém proporção */
          border-radius: 10px;
        }
        
        .card-front img:hover {
          transform: scale(1.08);
          transition: transform 0.3s ease;
        }
        